
{% extends "layout.html" %}

{% block pageTitle %}
  FWS OLR Footer page designs
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        FWS OLR footer page designs
      </h1>
      <p>
        These pages contain draft designs of the FWS OLR footer pages. The pages are designed to provide information to our users about our service.
      </p>

      <p>The following pages have been created:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/cookies">Cookies</a>
        </li>
        <li>
          <a href="/docs/terms-and-conditions">Terms and conditions</a>
        </li>
        <li>
          <a href="/docs/privacy-notice">Privacy notice</a> - a copy of the existing privacy notice currently hosted on the Flood Information Service
        </li>
         <li>
           <a href="/docs/privacy-notice-new">Privacy notice new</a> - a new look notice based on guidance from Defra
        </li>
        <li>
          <a href="/docs/accessibility-statement">Accessibility statement</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
