
{% extends "layout.html" %}

{% block pageTitle %}
  FWS OLR Footer page designs
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        FWS OLR footer page designs
      </h1>
      <p>
        These pages contain draft designs of the FWS OLR footer pages. The pages are designed to provide information to our users about our service.
      </p>

      <h2 class="govuk-heading-m">Current pages</h2>
      <p>These are the current live pages. They are hosted on the Flood Information Service on GOV.UK:</p>

      <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="https://flood-warning-information.service.gov.uk/privacy-notice-sms">Privacy notice</a>
      </li>
      <li>
        <a href="https://www.gov.uk/flood-warning-auto-opt-in-info">EDW welcome page</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">New pages</h2>
      <p>The following new pages have been created.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/start-page">Sign up for flood warnings</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}